<footer class="bg-gray-800 text-white py-8">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex justify-between items-center">
        <!-- Logo -->
        <div>
          <span class="text-lg font-semibold">elliSzAt</span>
        </div>
  
        <!-- Social Links -->
        <div class="flex space-x-4">
          <a href="#" class="hover:text-gray-300">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.95 7.18c-.17-.38-.62-.63-1.05-.63-.78 0-1.48.75-1.48 1.8 0 .98.55 1.63 1.35 1.63.63 0 1.05-.3 1.23-.6v.6h1.4V9.8h-1.4v.38zM12 9.8c-.53 0-.9.35-.9.78 0 .45.34.8.9.8.54 0 .9-.35.9-.8 0-.45-.37-.78-.9-.78zm-1.62 4.35h-.02c-.46 0-.78.3-.78.78 0 .45.34.8.9.8.54 0 .9-.35.9-.8 0-.45-.37-.78-.9-.78zM9.35 7.4h-.02c-.46 0-.78.3-.78.78 0 .45.34.8.9.8.54 0 .9-.35.9-.8 0-.45-.37-.78-.9-.78z">
              </path>
            </svg>
          </a>
          <a href="#" class="hover:text-gray-300">
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M17.5 2H6.5C5.121 2 4 3.121 4 4.5v15C4 20.879 5.121 22 6.5 22h11c1.379 0 2.5-1.121 2.5-2.5v-15C20 3.121 18.879 2 17.5 2zM15 16.875c0 .203-.172.375-.375.375h-5.25c-.203 0-.375-.172-.375-.375v-1.875c0-.203.172-.375.375-.375h5.25c.203 0 .375.172.375.375v1.875zm0-3c0 .203-.172.375-.375.375h-5.25c-.203 0-.375-.172-.375-.375v-1.875c0-.203.172-.375.375-.375h5.25c.203 0 .375.172.375.375v1.875zm0-3c0 .203-.172.375-.375.375h-5.25c-.203 0-.375-.172-.375-.375v-1.875c0-.203.172-.375.375-.375h5.25c.203 0 .375.172.375.375v1.875z">
              </path>
            </svg>
          </a>
          <a
  