<nav class="bg-gray-800 p-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
      <!-- Logo -->
      <div class="flex items-center">
        <span class="text-white text-lg font-semibold">elliSzAt</span>
      </div>
  
      <!-- Navigation Links -->
      <div class="flex space-x-4 my-auto">
        <a href="/" class="text-white hover:text-gray-300 my-auto">Home</a>
        <a href="/bill" class="text-white hover:text-gray-300 my-auto">Bill</a>
        <a href="/cart" class="text-black  rounded-md border-2 border-black bg-white p-2 my-auto hover:text-slate-50 hover:bg-cyan-400 active:bg-cyan-700">Giỏ hàng</a>
      </div>
    </div>
  </nav>
  